@import './utilis/fonts';
@import './utilis/variables';
@import './base';
@import './utilis/texts';
@import './utilis/utilis';


@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/link';
@import './components/pagination';


@import './layout/advantages-section';
@import './layout/chefs-section';
@import './layout/contact-section';
@import'./layout/container';
@import './layout/footer';
@import './layout/form-terms';
@import './layout/format-section';
@import './layout/header';
@import './layout/hero';
@import './layout/modal';
@import './layout/mobile-menu';
@import './layout/section';
@import './layout/traditions-section';



