.format-card {
    position: relative;
    height: 444px;
    width: 349px;
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}

.format-card:hover {
    transform: scale(1.05);
}

.formats-list {
    display: flex;
    gap: 20px;
}

.format-image {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}