.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
    line-height: 100%;
}

.formats-title {
    margin-bottom: 80px;
    text-align: center;
}