.carousel-button {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    &__next {
            transform: rotate(180deg);
        }
        &:hover {
            background-color: var(--color-primary-dark);
            fill: var(--color-primary-light);
    
        }
}
.carousel-arrow {
    fill: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
    fill: var(--color-primary-light);
}