.format-card {
        position: relative;
            height: 444px;
            width: 349px;
            border-radius: 16px;
            padding: 24px;
            background-image: linear-gradient(180deg,
                    rgba(49, 38, 26, 0) 55.21%,
                    rgba(49, 38, 26, 0.71) 72.92%,
                    var(--color-primary-dark) 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;

        &__image {
            position: absolute;
            z-index: -1;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
        }

        &__title {
            font-size: 24px;
            font-weight: 600;
            color: var(--color-primary-light);
        }
    
        &__text {
            font-size: 14px;
            font-weight: 300;
            color: var(--color-primary-light);
            line-height: 100%;
        }
}

